<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <link rel="stylesheet" href="../styles/thank.css">
  <title>Frontend Mentor | Newsletter sign-up form with success message</title>
</head>
<body>
  <main class="root">
    <div class="root_inner">
        <div class="gap">
          <img src="../assets/images/icon-success.svg" alt="">
          <header class="description">
            <h1>Thanks for subscribing!</h1>
            <p>A confirmation email has been sent to
              <span class="email">graiess.yo@outlook.fr.</span> Please open It and click
              the button inside to confirm your subscription.</p>
          </header>
        </div>
        <button>Dismiss message</button>
    </div>
  </main>
</body>
</html>
